@charset "UTF-8";
/*基本レイアウト*/
body{
  font-family: 'Kosugi', sans-serif;
  font-family: 'Trispace', sans-serif;
  font-size: 22px;
  color: #575947;
  line-height: 1.2;
  background: #F9EEDC;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  text-align: center;
}

header{
  height: 10px;
}

footer{
  height: 10px;
}

h1{
  font-size: 80px;
  color: #F28379;
  text-align: left;
}

h2{
  font-size: 50px;
  text-align: center;
}

a{
  text-decoration: none;
  color: #F28379;
}
.btn,.btns{
  position: relative;
  background-color: rgba(87,89,71,0.8);
  color: #F9EEDC;
  display: inline-block;
  padding: 16px 44px;
  font-size: 30px;
  border: 2px solid #575947;
  border-radius: 5px;
  text-decoration: none;
  margin: 5px;
  z-index: 1;
}

.btn:hover{
background-color:  #575947;
  transition: 0.5s;
}

/*index*/

.door {
  max-width: 920px;
  margin: auto;
  display: grid;
  grid-template-columns:repeat(1, 1fr)0.5fr;
  grid-template-rows:repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.title { grid-area: 1 / 1 / 3 / 4; }
.but { grid-area: 3 / 1 / 4 / 3;
  text-align: left;
}
.png { grid-area: 2 / 2 / 4 / 3; }

/*ログイン・新規登録*/
.form{
  background-color: rgba(255,255,255,0.3);
  font-size: 22px;
  margin: auto;
  width: 340px;
  padding: 50px 0;
  border: 2px solid #575947;
  border-radius: 5px;
  text-align: center;
  line-height: 2;
}
.form .btn{
  padding: 6px 16px;
  font-size: 22px;
}

/*ボタン小*/
.btns{
  padding: 6px 8px;
  font-size: 15px;
}

.btns:hover{
background-color:  #575947;
  transition: 0.5s;
}

/*本一覧*/
.ran{
  position: relative;
  margin:10px auto;
  padding: 50px 0;
  background-color: rgba(255,255,255,0.3);
  font-size: 22px;
  border: 2px solid #575947;
  border-radius: 5px;
  max-width: 600px;
}
.data{
  position: relative;
  padding-left: 15%;
  line-height: 1.5;
  max-width: 400px;
  z-index: 1;
  mix-blend-mode:multiply;
  text-align: left;
}
.memo{
  color: #88A2F2;
}
.sya img{
  position: absolute;
  top: 25%;
  right: 10%;
  height: 100px;
  z-index: 0;
}

/*ページ番号*/
.page{
  position: absolute;
  right: 25%;
  font-size: 22px;
  display: inline-flex;
}

.bnum{
  margin: 5px;
    width: 40px;
    height: 40px;
    background-color: rgba(87,89,71,0.8);
    border: 2px solid #575947;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 40px;
}
.bnum a{
  color: #F9EEDC;
}
.bnum:hover{
  background-color:  #575947;
    transition: 0.5s;
}

/*アイコン*/
.enb{
  position: fixed;
    right: 2%;
    bottom: 10px;
    z-index: 5;
}

.enb a{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display:block;
  text-align: center;
  line-height: 60px;
  margin: 10px;
  font-size: 40px;
  background-color: rgba(255,255,255,0.3);
}

.p{
  border: 2px solid #F28379;
  color:#F28379;
}
.m{
  color: #88A2F2;
  border: 2px solid #88A2F2;
}
/*検索*/
.ser{
  text-align: center;
}
.inp{
  font-size: 22px;
padding: 5px;
border-radius: 5px;
background-color: #ffffff4d;
}

.kensaku{
  text-align:center;
}
.deco{
  color:#F28379;
}
